# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Static files
static/
media/

# Secret keys
*.env

# Development files
*.log
db.sqlite3

# IDE files
.vscode/
.idea/

# Dependency directories
venv/

.DS_Store

# React project files
node_modules
dist
/build
/.pnp
.pnp.js

# Testing files
/coverage

# Dependency directories
/.cache
/.parcel-cache
/.yarn
/.yarn-integrity
/yarn-error.log

chat_uploads/
