DEV=True

DJANGO_SECRET_KEY=***REMOVED-DJANGO-SECRET-KEY***

DJANGO_EMAIL_HOST=ssl0.ovh.net
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_HOST_USER=myemail@vezmir.com
DJANGO_EMAIL_HOST_PASSWORD=myemailpassword
DJANGO_EMAIL_DEFAULT_FROM=no-reply@vezmir.com

OPENAI_API_KEY=sk-1234567890
ANTHROPIC_API_KEY=sk-1234567890
GOOGLE_API_KEY=sk-1234567890

DJANGO_DATABSE_ENGINE=django.db.backends.postgresql
DJANGO_DATABSE_NAME=vezmir.db
DJANGO_DATABSE_USER=user
DJANGO_DATABSE_PASSWORD=password
DJANGO_DATABSE_HOST=host
DJANGO_DATABSE_PORT=port