## ENVIRONMENT ##
DEV=True
DJANGO_FRONTEND_URL=http://localhost:3000
DJANGO_BACKEND_URL=http://localhost:8000
DJANGO_SECRET_KEY="***REMOVED-DJANGO-SECRET-KEY***"

## EMAIL CONFIG ##
DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_EMAIL_HOST=ssl0.ovh.net
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_HOST_USER=myemail@vezmir.com
DJANGO_EMAIL_HOST_PASSWORD=myemailpassword
DJANGO_EMAIL_DEFAULT_FROM="Vezmir AI <no-reply@vezmir.com>"

## LLM API KEYS ##
OPENAI_API_KEY=sk-1234567890
ANTHROPIC_API_KEY=sk-1234567890
GOOGLE_API_KEY=sk-1234567890
GROQ_API_KEY=gsk_1234567890

## DJANGO DB ENV ##
DJANGO_DATABSE_ENGINE=django.db.backends.postgresql
DJANGO_DATABSE_NAME=vezmir
DJANGO_DATABSE_USER=vezmir_user
DJANGO_DATABSE_PASSWORD=password1234
DJANGO_DATABSE_HOST=db
DJANGO_DATABSE_PORT=5432

## POSTGRES ENV __FOR DOCKER__ ##
## /!\ COPY PAST THE INFO FROM DJANGO DB ENV ABOVE /!\ ##
POSTGRES_DB=vezmir
POSTGRES_USER=vezmir_user
POSTGRES_PASSWORD=password1234
SQL_HOST=db
SQL_PORT=5432

## STRIPE ENV ##
STRIPE_PUBLISHABLE_KEY = pk_test_1234567890
STRIPE_SECRET_KEY = sk_test_1234567890
